html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(to bottom, #90ee90, white);
}

.bg-green {
    background-color: darkgreen;
}

.box {
    box-shadow: 0 20px white;
}
