@page
@model RazorPagesBSRS.Pages.Patients.ErrorModel
@{
}

<div style = "background-color: #6b8e23" class="text-center">
    <h1 class="display-4">心情溫度計(BSRS-5)</h1>
</div>
<br/>
<br/>
<br/>
<div align = "center"><H1>LOGIN FAIL</H1></DIV>
<meta http-equiv="refresh" content="3;URL='./Login'">